---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
</head>
	<body id="top-of-page" class="{{ layout.format }}">
		<div id="masthead-with-text" style="background: #6B8A78; ">
			<div class="row">
			   <div class="small-12 columns">
				  <div class="masthead-title">Cemre ÇAKMAK</div>
			   </div>
			</div>
		 </div>
		<div class="row t30">
			<div class="medium-12 columns">
			<article itemscope itemtype="http://schema.org/Article">
				<span itemprop="articleSection">
					<div>
						<ul class="portfolio-front">
							<li>
								<figure class="tint">
							
								</figure>
							</li>
							<li>
								<figure class="tint">
							
								</figure>
							</li>
							<li>
								<figure class="tint">
							
								</figure>
							</li>
							<li>
								<a href="/portfolio/people/">
									<figure class="tint">
										<img class="portfolio-thumb" src="https://olgaivkin.com/portfolio/people/thumbs/front_a_girl_with_coffe.jpg" alt="People" />
										<figcaption>
										<h3 style="padding: 0">Desen</h3>
										</figcaption>
									</figure>
								</a>
							</li>
							<li>
								<a href="/portfolio/trees/">
									<figure class="tint">
										<img class="portfolio-thumb" src="https://olgaivkin.com/portfolio/trees/thumbs/front_the_bended_tree_24x18.jpg" alt="Trees" />
										<figcaption>
										<h3 style="padding: 0">Grafik</h3>
										</figcaption>
									</figure>
								</a>
							</li>
						</ul>
					</div>
					<!--more--> 
				</span>
			</article>
			</div>
		</div>
</body>
</html>
